fastapi
uvicorn
pydantic
langchain
langchain-mistralai
langgraph
langchain-community
langchain-qdrant
qdrant-client
fastembed
langchain-cohere
python-dotenv
pypdf
pandas
openpyxl
requests
tavily-python
python-multipart
